.comments-area a,
.page-content a {
    text-decoration: underline
}


.page-header .entry-title,
.site-footer .footer-inner,
.site-footer:not(.dynamic-footer),
.site-header .header-inner,
.site-header:not(.dynamic-header),
body:not([class*=elementor-page-]) .site-main {
    margin-inline-end: auto;
    margin-inline-start: auto;
    width: 100%
}

.site-footer {
  min-height: 120px;
}

:root {
    --swiper-theme-color: #007aff
}


:root {
    --swiper-navigation-size: 44px
}


:root {
    --direction-multiplier: 1
}

.elementor-element,
.elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px
}
:root {
    --direction-multiplier: 1
}


.elementor *,
.elementor :after,
.elementor :before {
    box-sizing: border-box
}

.elementor a {
    box-shadow: none;
    text-decoration: none
}

.elementor img {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    max-width: 100%
}

.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    align-self: var(--align-self);
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order)
}

.elementor-element:where(.e-con-full, .elementor-widget) {
    align-content: var(--align-content);
    align-items: var(--align-items);
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    gap: var(--row-gap) var(--column-gap);
    justify-content: var(--justify-content)
}


:root {
    --page-title-display: block
}

.elementor-widget {
    position: relative
}

.elementor-widget:not(:last-child) {
    margin-block-end: var(--kit-widget-spacing, 20px)
}


@media (prefers-reduced-motion:no-preference) {
    html {
        scroll-behavior: smooth
    }
}

.e-con {
    --border-radius: 0;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    --border-style: initial;
    --border-color: initial;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --content-width: min(100%, var(--container-max-width, 1140px));
    --width: 100%;
    --min-height: initial;
    --height: auto;
    --text-align: initial;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: var(--container-default-padding-top, 10px);
    --padding-right: var(--container-default-padding-right, 10px);
    --padding-bottom: var(--container-default-padding-bottom, 10px);
    --padding-left: var(--container-default-padding-left, 10px);
    --position: relative;
    --z-index: revert;
    --overflow: visible;
    --gap: var(--widgets-spacing, 20px);
    --row-gap: var(--widgets-spacing-row, 20px);
    --column-gap: var(--widgets-spacing-column, 20px);
    --overlay-mix-blend-mode: initial;
    --overlay-opacity: 1;
    --overlay-transition: 0.3s;
    --e-con-grid-template-columns: repeat(3, 1fr);
    --e-con-grid-template-rows: repeat(2, 1fr);
    border-radius: var(--border-radius);
    height: var(--height);
    min-height: var(--min-height);
    min-width: 0;
    overflow: var(--overflow);
    position: var(--position);
    width: var(--width);
    z-index: var(--z-index);
    --flex-wrap-mobile: wrap
}

.e-con:where(:not(.e-div-block-base)) {
    transition: background var(--background-transition, .3s), border var(--border-transition, .3s), box-shadow var(--border-transition, .3s), transform var(--e-con-transform-transition-duration, .4s)
}

.e-con {
    --margin-block-start: var(--margin-top);
    --margin-block-end: var(--margin-bottom);
    --margin-inline-start: var(--margin-left);
    --margin-inline-end: var(--margin-right);
    --padding-inline-start: var(--padding-left);
    --padding-inline-end: var(--padding-right);
    --padding-block-start: var(--padding-top);
    --padding-block-end: var(--padding-bottom);
    --border-block-start-width: var(--border-top-width);
    --border-block-end-width: var(--border-bottom-width);
    --border-inline-start-width: var(--border-left-width);
    --border-inline-end-width: var(--border-right-width)
}

.e-con {
    margin-block-end: var(--margin-block-end);
    margin-block-start: var(--margin-block-start);
    margin-inline-end: var(--margin-inline-end);
    margin-inline-start: var(--margin-inline-start);
    padding-inline-end: var(--padding-inline-end);
    padding-inline-start: var(--padding-inline-start)
}

.e-con.e-flex {
    --flex-direction: column;
    --flex-basis: auto;
    --flex-grow: 0;
    --flex-shrink: 1;
    flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis)
}

.e-con-full,
.e-con>.e-con-inner {
    padding-block-end: var(--padding-block-end);
    padding-block-start: var(--padding-block-start);
    text-align: var(--text-align)
}

.e-con-full.e-flex,
.e-con.e-flex>.e-con-inner {
    flex-direction: var(--flex-direction)
}

.e-con,
.e-con>.e-con-inner {
    display: var(--display)
}

.e-con.e-grid {
    --grid-justify-content: start;
    --grid-align-content: start;
    --grid-auto-flow: row
}

.e-con.e-grid,
.e-con.e-grid>.e-con-inner {
    align-content: var(--grid-align-content);
    align-items: var(--align-items);
    grid-auto-flow: var(--grid-auto-flow);
    grid-template-columns: var(--e-con-grid-template-columns);
    grid-template-rows: var(--e-con-grid-template-rows);
    justify-content: var(--grid-justify-content);
    justify-items: var(--justify-items)
}

.e-con-boxed.e-flex {
    align-content: normal;
    align-items: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal
}

.e-con-boxed {
    gap: initial;
    text-align: initial
}

.e-con.e-flex>.e-con-inner {
    align-content: var(--align-content);
    align-items: var(--align-items);
    align-self: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content)
}

.e-con>.e-con-inner {
    gap: var(--row-gap) var(--column-gap);
    height: 100%;
    margin: 0 auto;
    max-width: var(--content-width);
    padding-inline-end: 0;
    padding-inline-start: 0;
    width: 100%
}

:is(.elementor-section-wrap, [data-elementor-id])>.e-con {
    --margin-left: auto;
    --margin-right: auto;
    max-width: min(100%, var(--width))
}

.e-con .elementor-widget.elementor-widget {
    margin-block-end: 0
}

.e-con:before,
.e-con>.elementor-background-slideshow:before,
.e-con>.elementor-motion-effects-container>.elementor-motion-effects-layer:before,
:is(.e-con, .e-con>.e-con-inner)>.elementor-background-video-container:before {
    border-block-end-width: var(--border-block-end-width);
    border-block-start-width: var(--border-block-start-width);
    border-color: var(--border-color);
    border-inline-end-width: var(--border-inline-end-width);
    border-inline-start-width: var(--border-inline-start-width);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    content: var(--background-overlay);
    display: block;
    height: max(100% + var(--border-top-width) + var(--border-bottom-width), 100%);
    left: calc(0px - var(--border-left-width));
    mix-blend-mode: var(--overlay-mix-blend-mode);
    opacity: var(--overlay-opacity);
    position: absolute;
    top: calc(0px - var(--border-top-width));
    transition: var(--overlay-transition, .3s);
    width: max(100% + var(--border-left-width) + var(--border-right-width), 100%)
}

.e-con:before {
    transition: background var(--overlay-transition, .3s), border-radius var(--border-transition, .3s), opacity var(--overlay-transition, .3s)
}

.e-con .elementor-widget {
    min-width: 0
}

.e-con>.e-con-inner>.elementor-widget>.elementor-widget-container,
.e-con>.elementor-widget>.elementor-widget-container {
    height: 100%
}

.e-con.e-con>.e-con-inner>.elementor-widget,
.elementor.elementor .e-con>.elementor-widget {
    max-width: 100%
}

.e-con .elementor-widget:not(:last-child) {
    --kit-widget-spacing: 0px
}

.elementor-element:where(:not(.e-con)):where(:not(.e-div-block-base)) .elementor-widget-container,
.elementor-element:where(:not(.e-con)):where(:not(.e-div-block-base)):not(:has(.elementor-widget-container)) {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s)
}

.elementor-heading-title {
    line-height: 1;
    margin: 0;
    padding: 0
}


@media(min-width:576px) {

    .page-header .entry-title,
    .site-footer .footer-inner,
    .site-footer:not(.dynamic-footer),
    .site-header .header-inner,
    .site-header:not(.dynamic-header),
    body:not([class*=elementor-page-]) .site-main {
        max-width: 500px
    }

    .site-footer.footer-full-width .footer-inner,
    .site-header.header-full-width .header-inner {
        max-width: 100%
    }
}

@media(min-width:768px) {

    .page-header .entry-title,
    .site-footer .footer-inner,
    .site-footer:not(.dynamic-footer),
    .site-header .header-inner,
    .site-header:not(.dynamic-header),
    body:not([class*=elementor-page-]) .site-main {
        max-width: 600px
    }

    .site-footer.footer-full-width,
    .site-header.header-full-width {
        max-width: 100%
    }
}

@media(min-width:992px) {

    .page-header .entry-title,
    .site-footer .footer-inner,
    .site-footer:not(.dynamic-footer),
    .site-header .header-inner,
    .site-header:not(.dynamic-header),
    body:not([class*=elementor-page-]) .site-main {
        max-width: 800px
    }

    .site-footer.footer-full-width,
    .site-header.header-full-width {
        max-width: 100%
    }
}

@media(min-width:1200px) {

    .page-header .entry-title,
    .site-footer .footer-inner,
    .site-footer:not(.dynamic-footer),
    .site-header .header-inner,
    .site-header:not(.dynamic-header),
    body:not([class*=elementor-page-]) .site-main {
        max-width: 1140px
    }

    .site-footer.footer-full-width,
    .site-header.header-full-width {
        max-width: 100%
    }
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

*,
:after,
:before {
    box-sizing: border-box
}

body {
    background-color: #fff;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-block-end: 1rem;
    margin-block-start: .5rem
}

h1 {
    font-size: 2.5rem
}

h3 {
    font-size: 1.75rem
}

p {
    margin-block-end: .9rem;
    margin-block-start: 0
}

a {
    background-color: transparent;
    color: #c36;
    text-decoration: none
}

img {
    border-style: none;
    height: auto;
    max-width: 100%
}

dd,
dl,
dt,
li,
ol,
ul {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
    outline: 0;
    vertical-align: baseline
}